<!DOCTYPE html>
<html lang="en">
{include file='index/extra/header' title='BlogPusher'}
<body>
{include file='index/extra/contact'}
{include file='index/extra/background'}
<br>
<!--<div>-->
    <form style="margin-right: 130px;margin-left: 130px;margin-top: 15px" action="{:url('index/article/create')}" method="get">
        <div class="form-group">
            <label for="title">Article Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter Title..." name="title" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description..." name="des" required>
        </div>

        <label for="title">Publish Date</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Year" name="year" id="year" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Month" name="month" id="month" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Day" name="day" id="day" required>
            </div>
        </div>

        <div class="form-group">
            <label for="tagselector" style="margin-top: 13px">Tag Select</label>
            <select class="form-control" id="tagselector" name="selector" onchange="displayaddtag()">
                {volist name="taglist" id="infor"}
                <option>{$infor}</option>
                {/volist}
                <option>New..</option>
            </select>
            <div id="addtag"></div>
        </div>

        <script>
            function displayaddtag(){
                if(document.getElementById('tagselector').value=="New..") {
                    document.getElementById('addtag').innerHTML = "<br><input type=\"text\" class=\"form-control\" placeholder=\"New Tag Name\" name=\"newtag\" id='\"newtag\" 'required>";
                }else{
                    document.getElementById('addtag').innerHTML = "";
                }
            }
        </script>

        <div class="form-group">
            <label for="contentText">Content</label>
            <br>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="input-group">
                    <span class="input-group-addon" id="btnGroupAddon"  style="width: 107px">Edit Toolkit</span>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">LaTeX Converters</button>
                            {include file='index/function/lvc'}

                        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#insertimage" aria-expanded="false" aria-controls="collapseExample">Insert Image</button>

                        <button type="button" class="btn btn-secondary" onclick="insertspace()">Insert Space</button>

                        <button type="button" class="btn btn-secondary" onclick="inserttab()">Insert Tab</button>
                        <!--<a href="" class="btn btn-dark">Insert</a>-->
                    </div>
                </div>
            </div>
            <textarea class="form-control" id="contentText" rows="20" name="content" oninput="savecheck()"></textarea>
            <!--<div id="preview" style="margin-left: 10px;float:right;width:49.5%;height:768px; border:0.5px solid #315;background:#e6e6e6;"></div>-->
        </div>
        <div id="test"></div>

        <div align="center">
            <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
        </div>
        <!--&nbsp;<button type="button" class="btn btn-primary">Save</button>-->
    </form>
<!--</div>-->

<script>
    var before = 0;

    function savecheck(){
//        document.getElementById('test').innerHTML = 'checking';
        document.getElementById('test').innerHTML = '';
        var now = new Date().getTime();
        if(now - before >= 3000)
        {
            before = now;
            autosave();
        }
    }

    function autosave(){
        var title = document.getElementById('title').value;
        var des = document.getElementById('description').value;
        var tag = document.getElementById('tagselector').value;
        var year = document.getElementById('year').value;
        var month = document.getElementById('month').value;
        var day = document.getElementById('day').value;
        var content = document.getElementById('contentText').value;

        if(document.getElementById('tagselector').value=="New..") {
            tag = document.getElementById('newtag').value;
        };

//        window.open("http://localhost:8888/BlogPusher/public/index/Article/autosavearticle?title="+title+"&year="+year+"&month="+month+"&day="+day+"&tag="+tag+"&content="+content+"&des="+des);

        document.getElementById('test').innerHTML = '<div class="alert alert-success" role="alert"> Auto-Save Successfully </div>'+title;
    }

    function inserttab(){
        document.getElementById('contentText').value = document.getElementById('contentText').value + "&nbsp;&nbsp;&nbsp;&nbsp;";
    }

    function insertspace(){
        document.getElementById('contentText').value = document.getElementById('contentText').value + "&nbsp;";
    }
</script>

{include file='index/extra/footer'}
</body>
</html>