<!DOCTYPE html>
<html lang="en">
{include file='index/header' title='BlogPusher'}
<body>
{include file='index/contact'}
<br>
<form style="margin-right: 130px;margin-left: 130px;margin-top: 15px">
    <div class="form-group">
        <label for="formGroupExampleInput">Article Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Title...">
    </div>

    <label for="formGroupExampleInput">Publish Date</label>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Year">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Month">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Day">
        </div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Tag Select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            {volist name="taglist" id="infor"}
                <option>{$infor}</option>
            {/volist}
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Article Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>