<!DOCTYPE html>
<html lang="en">
{include file='index/extra/header' title='BlogPusher'}
<body>
{include file='index/extra/contact'}
<br>
<!--<div>-->
    <form style="margin-right: 130px;margin-left: 130px;margin-top: 15px" action="{:url('index/create')}" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Article Title</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Title...">
        </div>

        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" class="form-control" id="descriptionInput" placeholder="Description...">
        </div>

        <label for="formGroupExampleInput">Publish Date</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Year">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Month">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Day">
            </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1" style="margin-top: 13px">Tag Select</label>
            <select class="form-control" id="exampleFormControlSelect1">
                {volist name="taglist" id="infor"}
                <option>{$infor}</option>
                {/volist}
            </select>
        </div>

        <div class="form-group">
            <label for="contentText">Content</label>
            <br>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="input-group">
                    <span class="input-group-addon" id="btnGroupAddon"  style="width: 107px">Edit Toolkit</span>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">LaTeX Converters</button>
                            {include file='index/function/lvc'}

                        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#insertimage" aria-expanded="false" aria-controls="collapseExample">Insert Image</button>
                            {include file='index/function/iic'}

                        <button type="button" class="btn btn-secondary" onclick="insertspace()">Insert Space</button>

                        <button type="button" class="btn btn-secondary" onclick="inserttab()">Insert Tab</button>
                        <!--<a href="" class="btn btn-dark">Insert</a>-->
                    </div>
                </div>
            </div>
            <textarea class="form-control" id="contentText" rows="20"></textarea>
            <!--<div id="preview" style="margin-left: 10px;float:right;width:49.5%;height:768px; border:0.5px solid #315;background:#e6e6e6;"></div>-->
        </div>

        <div align="center">
            <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
        </div>
        <!--&nbsp;<button type="button" class="btn btn-primary">Save</button>-->
    </form>
<!--</div>-->

<script>
    function inserttab(){
        document.getElementById('contentText').value = document.getElementById('contentText').value + "&nbsp;&nbsp;&nbsp;&nbsp;";
    }

    function insertspace(){
        document.getElementById('contentText').value = document.getElementById('contentText').value + "&nbsp;";
    }
</script>

{include file='index/extra/footer'}
</body>
</html>